#macOS-specific
.DS_Store


allthethings/config/
allthethings/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
sin_sistersCS/logs/*
!sin_sistersCS/logs/index.html
!sin_sistersCS/logs/.htaccess
sin_sistersCS/config/database.php
/vendor/